ion-card {
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  margin: 0 !important;
  padding: 0 !important;
}
ion-card-header {
  height: 100% !important;
}
ion-card-subtitle {
  text-transform: uppercase;
}
